<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>		
	</head>
  <style>
    .table_data{
      text-align:center;
     }
  </style>
	<body>
   

		<div class="">
		  <table class="table table-striped table-bordered datatable dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1077px;">
        <thead>
          <tr role="row">
            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 161px;"><input name="select-all" value="1" id="select-all" type="checkbox"> Select All</th>
            <th width="10%" class="sorting_disabled" rowspan="1" colspan="1" style="width: 69px;">Image</th>
            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 196px;">Product Name</th>
            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 231px;">No. of Customers</th>
            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 230px;">Action</th>
          </tr>
        </thead>
      <%= JSON.stringify(shop_data) %>
       <% for(var i=0; i < shop_data.product_data.length ; i++) { %>
     
      <tbody>
        <tr role="row" class="odd">
           <td class="table_data"><input name="select_all[]" value="<%= shop_data.product_data[i].id %>" type="checkbox"></td>
            <td class="table_data"><img src="<%= shop_data.product_data[i].images[0].src %>" height="50" width="50" alt=""></td>
            <td class="table_data"><a target="_blank" href="#"><%= shop_data.product_data[i].title %></a></td>
            <td  class="table_data">1</td><td><a href="#"><i class="fa fa-user" aria-hidden="true"></i> View</a> | <a href="#" class="recDelete"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a></td>
          </tr>
      </tbody>
       
       <% } %>
      <tfoot>
        <tr>
            <th rowspan="1" colspan="1">Select All</th>
            <th rowspan="1" colspan="1">Image</th>
            <th rowspan="1" colspan="1">Product Name</th>
            <th rowspan="1" colspan="1">No. of Customers</th>
            <th rowspan="1" colspan="1">Action</th>
         </tr>
      </tfoot>
    </table>
		</div>
	</body>
</html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function()
	{
      jQuery(document).on('click','.call_ajax',function()
		{
		 console.log("call_ajax")	
         jQuery.ajax({
                  type:'POSt',
                  url: '/json-write',
                  data: "5555555555555555",
                  dataType: "jsonp",
                  success: function (data) {
                      var ret = jQuery.parseJSON(data);
                      jQuery('#lblResponse').html(ret.msg);
                      console.log('Success: ')
                  },
                  error: function (xhr, status, error) {
                      console.log('Error: ' + error.message);
                      jQuery('#lblResponse').html('Error connecting to the server.');
                  },
               
              });
		});
      jQuery(document).on('click','.call_ajax1',function()
		{
		 console.log("call_ajax1")	
         jQuery.ajax({
                  type:'POSt',
                  url: 'https://blooming-atoll-23423.herokuapp.com/json-write',
                  data: "5555555555555555",
                  dataType: "jsonp",
                  success: function (data) {
                      var ret = jQuery.parseJSON(data);
                      jQuery('#lblResponse').html(ret.msg);
                      console.log('Success: ')
                  },
                  error: function (xhr, status, error) {
                      console.log('Error: ' + error.message);
                      jQuery('#lblResponse').html('Error connecting to the server.');
                  },
               
              });
		});
	});
</script>